@model FileUploading.Models.SingleFileModel;

@{
    ViewData["Title"] = "Single File Upload";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
   
    <style>
        .error {
            color: red;
            font-weight: 700;
        }
        #formvalidation
        {
            width:300px;
            height:300px;
        }

        .background {
            background: url(/Images/Background.jpg)no-repeat;
            background-size: cover;
        }
    </style>
 
</head>
<body class="background">
  <center>
        @using (Html.BeginForm("FileUpload", "FileInserting", FormMethod.Post, new { id = "formvalidation", enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(m=>m.id)
            <form style="width:40%;height:200px;border-color:black;border-style:solid;">
                <b>@Html.Label("Candidate Name")<i style="color:red;">*</i></b><br>
                @Html.TextBoxFor(m=>m.Name,new{@id="Name",@minlength=3,@maxlength=20})<br>
                <b>@Html.Label("Candidate Age")<i style="color:red;">*</i></b><br>
                @Html.TextBoxFor(m=>m.Age,new{@id="Age"})<br>
                <b>@Html.Label("Qualification")<i style="color:red;">*</i></b><br>
                @Html.TextBoxFor(m=>m.Qualification,new{@id="Qualification"})<br>

                <b>@Html.Label("Resume")<i style="color:red;">*</i></b><br>
                @Html.TextBoxFor(model=>model.file, new { type = "file" ,@id="file",@style="margin-left:53px;"})<br><br>


                <input type="submit" value="Submit" />
            </form>

        }
  </center>  
</body>

<script>
    function hideAlert() {
        setTimeout(function () {
            $(".alert").fadeOut("slow");
        }, 4000);
    }
            
    $("#formvalidation").validate(
        {
            rules:
            {
                Name:
                {
                    required: true,
                    digits: false,
                },
                Age:
                {
                    required:true,
                    digits:true,
                },
                Qualification:
                {
                    required:true,
                    digits:false,
                },
                file:
                {
                        required:true,
                }
            },
            messages:
            {
                Name:
                {
                    required: "Name field is required",
                    digits: "numberic not allowed",
                },
                Age:
                {
                    required: "Age field is requied",
                    digits: "characters not allowed",
                },
                Qualification:
                {
                    required: "Qualification field is required",
                    digits: "numeric not allowed",
                },
                file:
                    {
                        required:"Need to upload file"
                    }
            }
        }
    );

</script>