@model FileUploading.Models.SingleFileModel;

@{
    ViewData["Title"] = "Single File Upload";
    string message = TempData["message"] != null ? TempData["message"].ToString() : string.Empty;
}
<head>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" style="width:300px;margin-left:70%;">@message</div>
    }

    @using (Html.BeginForm("FileUpload", "FileInserting", FormMethod.Post, new { id = "formvalidation", enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m=>m.id)
        <form style="width:40%;height:200px;border-color:black;border-style:solid;">
            @Html.Label("Candidate Name")<br>
            @Html.TextBoxFor(m=>m.Name)<br>
            @Html.Label("Candidate Age")<br>
            @Html.TextBoxFor(m=>m.Age)<br>
            @Html.Label("Qualification")<br>
            @Html.TextBoxFor(m=>m.Qualification)<br>

            @Html.Label("Resume")<br>
            @Html.TextBoxFor(model=>model.file, new { type = "file" })<br>
   
    
            <input type="submit" value="Submit" /> 
        </form>
                        
    }
</body>

<script>
    function hideAlert() {
        setTimeout(function () {
            $(".alert").fadeOut("slow");
        }, 4000);
    }
</script>